@charset "UTF-8";
/* 回答はここから */

.content  {
	display: flex;
	justify-content: center;
}

.card {
	width: 200px;
	outline: 10px solid #655;
	box-shadow: 0 0 0 6px #655;
	border-radius: 13px;
	background: #d2b48c;
	padding: 10px;
	margin: 30px;
}